<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="app">
      <h1 class="heading-1">Unit conveter</h1>
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item"><a href="/">Length</a></li>
          <li class="navigation__item"><a href="/">Weight</a></li>
          <li class="navigation__item"><a href="/">Temperatute </a></li>
        </ul>
      </nav>
      <form action="/" method="post">
        <div class="form__input-container">
          <label for="lengthValue">Enter the length to convert</label>
          <input
            type="text"
            name="lengthValue"
            id="lengthValue"
            placeholder="Insert value"
          />
        </div>

        <div class="form__input-container">
          <label for="lengthFrom">Unit to convert from</label>
          <select name="lengthFrom" id="lengthFrom">
            <option value=""></option>
            <option value="milimeter">milimeter</option>
            <option value="centimeter">centimeter</option>
            <option value="meter">meter</option>
            <option value="kilometer">kilometer</option>
            <option value="inch">inch</option>
            <option value="foot">foot</option>
            <option value="yard">yard</option>
            <option value="mile">mile</option>
          </select>
        </div>

        <div class="form__input-container">
          <label for="lengthTo">Unit to convert to</label>
          <select name="lengthTo" id="lengthTo">
            <option value=""></option>
            <option value="milimeter">milimeter</option>
            <option value="centimeter">centimeter</option>
            <option value="meter">meter</option>
            <option value="kilometer">kilometer</option>
            <option value="inch">inch</option>
            <option value="foot">foot</option>
            <option value="yard">yard</option>
            <option value="mile">mile</option>
          </select>
        </div>
        <button type="submit">Convert</button>
      </form>
    </div>
  </body>
</html>
