<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="app">
      <h1 class="heading-1">Unit conveter</h1>
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item"><a href="/">Length</a></li>
          <li class="navigation__item"><a href="/">Weight</a></li>
          <li class="navigation__item"><a href="/">Temperatute </a></li>
        </ul>

        <form action="/">
          <label for="lengthValue">Enter the length to convert</label>
          <input
            type="text"
            name="lengthValue"
            id="lengthValue"
            placeholder="Insert value"
          />
        </form>
      </nav>
    </div>
  </body>
</html>
